mixin recipe(recipeData, castingData)
  tr 
    td.recipe #{recipeData.mealName}
    td
      input(type="button",name=recipeData.id value= castingData)
  tr 
    td.prep prep: #{recipeData.recipeRef.preperationTime}min 
    td.cook cook: #{recipeData.recipeRef.cookingTime}min 
    td.persons pers: #{recipeData.recipeRef.persons}
  tr 
    td.desc(colspan='3') #{recipeData.recipeRef.description} 

html
  head
    title= title
    style
      include styles/styles.css
  body
    table
      thead 
        tr 
          th.tableheader(colspan='3')= header
      tbody
        for meal in tableInput
          if meal.display
            - var casting = "Stop Magic Mirror Casting"
          else 
            - var casting = "Cast to Maggic Mirror"
          +recipe(meal, casting)