mixin recipe(recipeData)
  tr 
    td.recipe #{recipeData.recipeName} 
    td.prep preperation: #{recipeData.preperationTime}min 
    td.cook cookingtime: #{recipeData.cookingTime}min 
  tr 
    td.desc #{recipeData.description} 
    td.persons #{recipeData.persons}persons meal
html
  head
    title= title
    style 
  body
    table
      thead 
        tr 
          th(colspan='3')= header
      tbody
        for meal in tableInput
          +recipe(meal)