mixin recipe(recipeData)
  tr 
    td.recipe #{recipeData.recipeName} 
    td.prep preperation: #{recipeData.preperationTime}min 
    td.cook cookingtime: #{recipeData.cookingTime}min 
  tr 
    td.desc(colspan='2') #{recipeData.description} 
    td.persons #{recipeData.persons}persons meal

html
  head
    title= title
    style
      include styles/styles.css
  body
    table
      thead 
        tr 
          th.tableheader(colspan='3')= header
      tbody
        for meal in tableInput
          +recipe(meal)