mixin recipe(recipeData)
  tr 
    td.recipe #{recipeData.recipeName}
    td
      input(type="button", name=newRecipe, value= "Add to my meals", onclick="http://localhost:3000/recipes/addmeal")
  tr 
    td.prep prep: #{recipeData.preperationTime}min 
    td.cook cook: #{recipeData.cookingTime}min 
    td.persons pers: #{recipeData.persons}
  tr 
    td.desc(colspan='3') #{recipeData.description} 

html
  head
    title= title
    style
      include styles/styles.css
  body
    table
      thead 
        tr 
          th.tableheader(colspan='2')= header
          th.tableheader
            input(type="button", value="Add new Recipe", href="http://localhost:3000/recipes/addrecipe")
      tbody
        for meal in tableInput
          +recipe(meal, casting)